/* @media(max-width:768px){
    p{font-size: 14px;}
} */
.box{
    width: 100%;
    height: 100px;
    background-color: green;
}
@media(max-width:768px){
    .box{
        background-color: wheat;
    }
}
.li{
    list-style-type: none;
}
nav ul{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
}
